---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Card from "../../components/Card.astro";
import Contact from '../../components/Contact.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";

var posts = (await getCollection("blog"));

var categories = posts.flatMap((post) => {
  if (post.data.category) {
    return post.data.category;
  }
  return null;
});

function onlyUnique(value, index, array) {
  return array.indexOf(value) === index;
}

categories = categories.filter(onlyUnique);

---

<!DOCTYPE html>
<html lang="no">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <div class="title">
        <h1>Prosjekter</h1>
        <p>{}</p>
        <div class="dropdown">
          <button class="dropbtn">Filter: Kategori</button>
          <div class="dropdown-content">

            <a href="/blog/">Dato (stigende)</a>
            <a href="/blog/descending">Dato (synkende)</a>
			<!-- <a href="/blog/category">Kategori</a> -->

          </div>
        </div>
      </div>

      <section>

        <div>
        {
            categories.map((category) => (
            <h3 class="category-title">{category == null ? "Other" : category = category}</h3>
            
            
            <div class="section-container">
              {posts.filter((post) => post.data.category == category).map((post) => (
                <Card
                title={post.data.title}
                src={post.data.heroImage}
                href={`/blog/${post.slug}/`}
              >
                </Card>
              ))}  
            </div>
            
            
            ))
           

         
        }
        </div>
        
      </section>
      <Contact />
    </main>
    <Footer />
  </body>

</html>

<style>
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    /* Dropdown menu */

    .dropbtn {
      background-color: white;
      color: black;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {
      background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown:hover .dropbtn {
      background-color: lightgray;
    }
  </style>

