---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Card from "../../components/Card.astro";
import Contact from '../../components/Contact.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import { map } from "astro/zod";

var posts = (await getCollection("blog")).sort(
  (b, a) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="no">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="newest">
      <div class="title">
        <h1>Prosjekter</h1>
        <div class="dropdown">
          <button class="dropbtn">Sorter: nyeste</button>
          <div class="dropdown-content">
            <a href="/blog/">Sorter: eldste</a>
            <!-- <a href="/blog/descending">Dato (synkende)</a> -->
            <a href="/blog/category">Kategori</a>
          </div>
        </div>
      </div>

      <section>
        <div class="section-container">
          {
            posts.map((post) => (
              <Card
                title={post.data.title}
                src={post.data.heroImage}
                href={`/blog/${post.slug}/`}

              ></Card>
            ))
          }
        </div>
      </section>
      <Contact />
    </main>
    <Footer />
  </body>
  <style>
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    /* Dropdown menu */

    .dropbtn {
      background-color: white;
      color: black;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {
      background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown:hover .dropbtn {
      background-color: lightgray;
    }
  </style>
</html>
