---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Contact from '../components/Contact.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import Card from '../components/Card.astro';



var posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);


---

<!DOCTYPE html>
<html lang="no">
	
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	
	<body>
		<Header title={SITE_TITLE} /> 
		<main>
			<h1>Nylige prosjekter og oppdrag</h1>
			<section>
				<div class="section-container" id="sc_index">
					{
						posts.map((post) => (
							<Card
								title={post.data.title}
								src={post.data.heroImage}
								href={`/blog/${post.slug}/`}
							></Card>
						))
					}
				</div>
			</section>
			<Contact />
		</main>
		<Footer />
	</body>
</html>


<style>

</style>