---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Contact from '../components/Contact.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import Card from '../components/Card.astro';



var posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	
	<body>
		<Header title={SITE_TITLE} /> 
		<main>
			<h1>Prosjekter</h1>
			<section>
				<div class="section-container">
					{
						posts.map((post) => (
							// <li>
							// 	<FormattedDate date={post.data.pubDate} />
							// 	<a href={`/blog/${post.slug}/`}>{post.data.title}</a>
							// </li>

							// <img src={post.data.heroImage}/>
							<Card
								title={post.data.title}
								src={post.data.heroImage}
								href={`/blog/${post.slug}/`}
							>
						
							</Card>
						))
					}
				</div>
			</section>
			<Contact />
		</main>
		<Footer />
	</body>
</html>
